﻿table#FlightTable, th#FlightTable, td#FlightTable {
    line-height: 40px;
    text-align: center;
}

-table#FlightTable {
    width:60%;
}

-buttonTimes {
    width: 100%;
}

-br#FlightTable {
    display: block;
    content: "";
    margin-top: 10px;
}


