<h3>About</h3>
<p>Welcome to OpenAir. Here are some of the features of our application.</p>

<ul>
    <li>Pilots will be able to login, schedule, modify, and delete flights</li>
    <li>Resolve any scheduling conflicts to ensure the safety of the pilots</li>
    <li>Increase aircraft throughput for a given route</li>
    <li>Increase visibility of scheduled flights</li>
</ul>

